DATABASE_URL="postgresql://postgres:postgres@localhost:5432/movie-reservation-system?schema=public"
JWT_SECRET='your_jwt_secret_here'
STRIPE_API_SECRET='sk_test_...'
STRIPE_WEBHOOK_SECRET='whsec_...'
FRONTEND_URL='http://localhost:3000'
